@import 'base';

.authPage {
  height: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;
  padding: $grid-unit-size * 2;

  &__card {
    width: 100%;
    max-width: 480px;
  }
}

